/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#SAPlogo{
  padding-top:10px;
  width:8%;
}

@media screen and (max-width: 1500px) {
	#SAPlogo{
	  width:9%;
	}
}

@media screen and (max-width: 1200px) {
	#SAPlogo{
	  width:11%;
	}
}

@media screen and (max-width: 992px) {
	#SAPlogo{
	  width:20%;
	}
}

@media screen and (max-width: 800px) {
	#SAPlogo{
	  width:25%;
	}
}

@media screen and (max-width: 700px) {
	#SAPlogo{
	  width:30%;
	}
}

@media screen and (max-width: 600px) {
	#SAPlogo{
	  width:33%;
	}
}

@media screen and (max-width: 500px) {
	#SAPlogo{
	  width:36%;
	}
}

@media screen and (max-width: 200px) {
	#SAPlogo{
	  width:100%;
	}
}